/*.sdf
/*.vsp
/*.psess
/ipch
/Debug
/Release
/MyVoiceRecognition/Debug
/MyVoiceRecognition/*.vcxproj.user
/MyVoiceRecognition/*.vcxproj
/MyVoiceRecognition/*.vcxproj.filters
/MyVoiceRecognition/commands - ¸±±¾.csv

